{% extends 'app/base.html' %}

{% block content %}

{% load widget_tweaks %}
<div class="card card-body mt-4 mb-4">
    <h3>Add Assignment</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group mb-2">
            <label>{{ form.client.label }}</label>
            {{ form.client | add_class:"form-control"}}
            {% if form.client.errors %}
            <p class="text-danger">
                {{ form.client.errors|striptags }}
            </p>
            {% endif %}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.year.label }}</label>
            {{ form.year | add_class:"form-control"}}
            {% if form.year.errors %}
            <p class="text-danger">
                {{ form.year.errors|striptags }}
            </p>
            {% endif %}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.period.label }}</label>
            {{ form.period | add_class:"form-control"}}
            {% if form.period.errors %}
            <p class="text-danger">
                {{ form.period.errors|striptags }}
            </p>
            {% endif %}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.task.label }}</label>
            {{ form.task | add_class:"form-control"}}
            {% if form.task.errors %}
            <p class="text-danger">
                {{ form.task.errors|striptags }}
            </p>
            {% endif %}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.employee.label }}</label>
            {{ form.employee | add_class:"form-control"}}
            {% if form.employee.errors %}
            <p class="text-danger">
                {{ form.employee.errors|striptags }}
            </p>
            {% endif %}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.instruction.label }}</label>
            {{ form.instruction | add_class:"form-control" | attr:"rows:5"}}
            {% if form.instruction.errors %}
            <p class="text-danger">
                {{ form.instruction.errors|striptags }}
            </p>
            {% endif %}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.status.label }}</label>
            {{ form.status | add_class:"form-control"}}
            {% if form.status.errors %}
            <p class="text-danger">
                {{ form.status.errors|striptags }}
            </p>
            {% endif %}
        </div>
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-primary">
                Add
            </button>
        </div>
    </form>
</div>

{% endblock %}