asgiref==3.7.2
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==3.2.23
django-cache-url==3.4.5
django-filter==2.4.0
django-queryset-csv==1.1.0
django-widget-tweaks==1.4.8
environs==9.3.5
marshmallow==3.20.1
packaging==23.2
python-dotenv==1.0.0
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
unicodecsv==0.14.1
whitenoise==5.3.0
