<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Robbin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'org_type' %}">Org Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client' %}">Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'year' %}">Year</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'period' %}">Period</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status' %}">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'employee' %}">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assignment' %}">Assignment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>