<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <title>Robbin</title>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

<script src="{% static 'app/js/jquery.min.js' %}"></script>
<script src="{% static 'app/js/popper.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap.min.js' %}"></script>


</html>