{% extends 'app/base.html' %}

{% block content %}

{% load widget_tweaks %}
<div class="card card-body mt-4 mb-4">
    <h3>Update Client</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group mb-2">
            <label>{{ form.name.label }}</label>
            {{ form.name | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.org_type.label }}</label>
            {{ form.org_type | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.contact.label }}</label>
            {{ form.contact | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.mobile.label }}</label>
            {{ form.mobile | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.email.label }}</label>
            {{ form.email | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.inco_date.label }}</label>
            {{ form.inco_date | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.pan.label }}</label>
            {{ form.pan | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.aadhar.label }}</label>
            {{ form.aadhar | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.tan.label }}</label>
            {{ form.tan | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.gstin.label }}</label>
            {{ form.gstin | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.iec.label }}</label>
            {{ form.iec | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.income_tax_password.label }}</label>
            {{ form.income_tax_password | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.gst_userid.label }}</label>
            {{ form.gst_userid | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.gst_password.label }}</label>
            {{ form.gst_password | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.remark.label }}</label>
            {{ form.remark | add_class:"form-control"}}
        </div>
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-primary">
                Update
            </button>
        </div>
    </form>
</div>

<script>
    $(function () {
        $('#id_inco_date').datetimepicker({
            sideBySide: true,
            format: 'YYYY-MM-DD'
        })
    })
</script>

{% endblock %}