{% extends 'app/base.html' %}

{% block content %}

{% load widget_tweaks %}
<h3>Clients</h3>

{% if clients %}
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Mobile</th>
            <th>Email</th>
            <th />
        </tr>
    </thead>
    <tbody>
        {% for cl in clients %}
        <tr>
            <td>{{ cl.id }}</td>
            <td>{{ cl.name }}</td>
            <!-- TODO: Show first contact name, mobile and email -->
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>
                <!-- TODO: Add view client details page (read-only) -->
                <a class="btn btn-info btn-sm m-1" style="color: white;" href="#"><i class="fa fa-eye"></i></a>
                <a class="btn btn-primary btn-sm m-1" href="{% url 'client_update' cl.id %}"><i
                        class="fa fa-pencil"></i></a>
                <a class="btn btn-danger btn-sm m-1" href="#"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a class="btn btn-success btn-circle btn-lg" href="{% url 'client_create' %}"><i class="fa fa-plus"></i></a>

{% endblock %}