{% extends 'app/base.html' %}

{% block content %}

{% load widget_tweaks %}
<h3>Contacts</h3>

{% if contacts %}
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th />
        </tr>
    </thead>
    <tbody>
        {% for cn in contacts %}
        <tr>
            <td>{{ cn.id }}</td>
            <td>{{ cn.name }}</td>
            <td>{{ cn.mobile }}</td>
            <td>{{ cn.email }}</td>
            <td>
                <a class="btn btn-primary btn-sm m-1" href="{% url 'contact_edit' cn.id %}"><i
                        class="fa fa-pencil"></i></a>
                <a class="btn btn-danger btn-sm m-1" href="#"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a class="btn btn-success btn-circle btn-lg" href="{% url 'contact_create' %}"><i class="fa fa-plus"></i></a>

{% endblock %}