{% extends 'app/base.html' %}

{% block content %}

{% load widget_tweaks %}
<h3>Contacts</h3>

<br>
<div>
    <form method="GET" class="row">
        <div class="col">
            {{ contactfilter.form.q | add_class:"form-control" }}
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>

{% if contacts %}
<div class="table-responsive">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th />
            </tr>
        </thead>
        <tbody>
            {% for cn in contacts %}
            <tr>
                <td>{{ cn.id }}</td>
                <td>{{ cn.name }}</td>
                <td>{{ cn.mobile }}</td>
                <td>{{ cn.email }}</td>
                <td>
                    <a class="btn btn-primary btn-sm m-1" href="{% url 'contact_update' cn.id %}"><i
                            class="fa fa-pencil"></i></a>
                    {% if user.is_superuser or user.groups.all.0.name == 'Admin' or user.groups.all.0.name == 'admin' %}
                    <a class="btn btn-danger btn-sm m-1" href="{% url 'contact_remove' cn.id %}"><i
                            class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% if contacts %}
<a class="btn btn-secondary btn-circle btn-lg" style="bottom: 100px; right: 20px;"
    href="{% url 'export_csv' 'contact' %}"><i class="fa fa-file-excel-o"></i></a>
{% endif %}
<a class="btn btn-success btn-circle btn-lg" href="{% url 'contact_create' %}"><i class="fa fa-plus"></i></a>

{% endblock %}