{% extends 'app/base.html' %}

{% block content %}

{% load widget_tweaks %}
<h3>Employees</h3>

{% if employees %}
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Group</th>
            <th>Mobile</th>
            <th />
        </tr>
    </thead>
    <tbody>
        {% for emp in employees %}
        <tr>
            <td>{{ emp.id }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.user.username }}</td>
            <td>{{ emp.user.groups.first.name }}</td>
            <td>{{ emp.mobile }}</td>
            <td>
                <a class="btn btn-primary btn-sm m-1" href="{% url 'employee_update' emp.id %}"><i
                        class="fa fa-pencil"></i></a>
                <a class="btn btn-danger btn-sm m-1" href="{% url 'employee_remove' emp.id %}"><i
                        class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a class="btn btn-success btn-circle btn-lg" href="{% url 'employee_create' %}"><i class="fa fa-plus"></i></a>

{% endblock %}