{% extends 'app/base.html' %}

{% block content %}

{% load widget_tweaks %}
<div class="card card-body mt-4 mb-4">
    <h3>Update Employee</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group mb-2">
            <label>{{ form.username.label }}</label>
            {{ form.username | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.group.label }}</label>
            {{ form.group | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.name.label }}</label>
            {{ form.name | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.mobile.label }}</label>
            {{ form.mobile | add_class:"form-control"}}
        </div>
        <div class="form-group mb-2">
            <label>{{ form.email.label }}</label>
            {{ form.email | add_class:"form-control"}}
        </div>
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-primary">
                Update
            </button>
        </div>
        {{ form.errors }}
    </form>
</div>


{% endblock %}