{% extends 'app/base.html' %}

{% block content %}

<style>
    #total-clients {
        background-color: #4cb4c7;
    }

    #assignment-pending {
        background-color: #7abecc;
    }

    #assignment-completed {
        background-color: #7cd1c0;
    }
</style>

<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-clients">
                <div class="card-header">
                    <h5 class="card-title">Total Clients</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_orders }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="assignment-pending">
                <div class="card-header">
                    <h5 class="card-title">Assignment Completed</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ delivered }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="assignment-completed">
                <div class="card-header">
                    <h5 class="card-title">Assignments Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ pending }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}